# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Project Specific (User Data)
# Uncomment these if you want to commit your recorded macros to git
workflow.json
templates/
